$black: #1e1e1e;
$black-2: #141414;
$black-3: #080808;
$black-4: #010101;

$white: #dbdad9;
$white-2: #b6b5b4;
$white-3: #929190;
$white-4: #6d6d6c;

$purple: #761bef;
$purple-2: #6216c7;
$purple-3: #4e129f;
$purple-4: #3b0d77;

$green: #8bf67e;
$green-2: #9bcd69;
$green-3: #7ca454;
$green-4: #5d7b3f;

$desktop-width: 997px;
$tablet-width: 996px;
$mobile-width: 410px;
